spring:
  main:
    web-application-type: none
  jpa:
    properties:
      javax:
        persistence:
          schema-generation:
            scripts:
              action: update
              create-target: target/schema_update.sql
